Repository Maple-Team/maple-dolores: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-job, build-react18-webpack-job, build-react18-webpack-image-job

install-job:
  stage: install
  tags:
  - nodejs
  image: mapleimage123/node:20-alpine3.19
  script:
  - time pnpm install
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    policy: pull-push

build-react18-webpack-job:
  stage: build
  image: mapleimage123/node:20-alpine3.19
  tags:
  - nodejs
  script:
  - cd packages/react18-webpack
  - time pnpm install
  - time pnpm run build
  - mv dist ../../
  - APP_VERSION=$(node -p -e "require('./package.json').version")
  - echo "$APP_VERSION" > ../../version.txt
  artifacts:
    paths:
    - dist
  ...

build-react18-webpack-image-job:
  dependencies:
  - build-react18-webpack-job
  variables:
    SUB_PACKAGE: react18-webpack

debug: 动态子流水线7
  packages/main/src/index.js
Due: install-job

debug: no source change
  .gitlab-ci.yml
Due: none

debug：测试install条件
  .gitlab-ci-common.yml
Due: none

debug：测试install条件2
  packages/vue3/src/main.ts
Due: install-job

debug: update extends
  .gitlab-ci-common.yml
  .gitlab-ci.yml
  packages/react18-webpack/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: update extends
  .gitlab-ci-common.yml
  packages/main/.gitlab-ci.yml
  packages/vue3/.gitlab-ci.yml
Due: install-job

debug: update extends3
  packages/vue3/src/main.ts
Due: install-job

debug: update extends4
  .gitlab-ci-common.yml
Due: none

debug: remove notify stage
  .gitlab-ci-common.yml
  packages/main/.gitlab-ci.yml
  packages/react18-webpack/.gitlab-ci.yml
  packages/vue3/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: stage test
  .gitlab-ci-common.yml
  packages/main/.gitlab-ci.yml
  packages/react18-webpack/.gitlab-ci.yml
  packages/vue3/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: stage test
  packages/main/.gitlab-ci.yml
  packages/react18-webpack/.gitlab-ci.yml
  packages/vue3/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: stage test2
  packages/main/src/index.js
  packages/react18-webpack/src/main.tsx
  packages/vue3/src/main.ts
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: stage test3
  packages/main/src/index.js
  packages/react18-webpack/src/main.tsx
  packages/vue3/src/main.ts
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: environment
  .gitlab-ci-common.yml
  packages/react18-webpack/src/http/axios.ts
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

Path conditions:
  install-job: any of: package.json, pnpm-lock.yaml, pnpm-workspace.yaml, packages/**/*
  build-react18-webpack-job: any of: packages/react18-webpack/**/*
  build-react18-webpack-image-job: any of: packages/react18-webpack/**/*
