Repository Maple-Team/maple-dolores: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-job, build-react18-webpack-job, build-react18-webpack-image-job

.gitlab-ci.yml:

include: ".common.gitlab-ci.yml"

stages:
    - install
    # - test
    # - lint
    - build
    - image
    - deploy
    - notify

install-job:
    extends: .pnpm-config
    stage: install
    tags:
        - nodejs
    image: mapleimage123/node:20-alpine3.19
    script:
        - time pnpm install
    rules:
        - changes:
              - package.json
              - pnpm-lock.yaml
              - pnpm-workspace.yaml
              - packages/**/*
    cache:
        key:
            files:
                - pnpm-lock.yaml
        paths:
            - .pnpm-store
        policy: pull-push

# sub package 构建部署处理
build-react18-webpack-job:
    stage: build
    extends: .pnpm-config
    image: mapleimage123/node:20-alpine3.19
    tags:
        - nodejs
    script:
        - cd packages/react18-webpack
        - time pnpm install
        - time pnpm run build
        - mv dist ../../
        # 输出版本号给下一步骤使用
        - APP_VERSION=$(node -p -e "require('./package.json').version")
        - echo "$APP_VERSION" > ../../version.txt
    artifacts:
        paths:
            - dist
            - version.txt
    rules:
        - changes:
              - packages/react18-webpack/**/*
    cache:
        key:
            files:
                - pnpm-lock.yaml
        paths:
            - .pnpm-store
        policy: pull

build-react18-webpack-image-job:
    dependencies:
        - build-react18-webpack-job
    variables:
        SUB_PACKAGE: react18-webpack
    extends: .docker-build-stage
    rules:
        - changes:
              - packages/react18-webpack/**/*

deploy-react18-webpack-job:
    stage: deploy
    tags:
        - docker
    image: docker:27.3-dind
    variables:
        port: 7080
        container_name: react18-webpack
    needs:
        - job: build-react18-webpack-image-job
          optional: false
    script:
        - image=$(cat image.txt)
        - echo $image
        - docker stop $container_name || true
        - docker rm $container_name || true
        - docker run --name $container_name --network maple-network -d -p $port:80 $image

notify-success:
    stage: notify
    needs:
        - job: deploy-react18-webpack-job
          optional: false
        # 多个job
    rules:
        - when: on_success
    script:
        - >
            curl -X POST -H "Content-Type: application/json"
            -d '{"msg_type":"text","content":{"text":"Web APP 部署成功"}}'
            https://open.feishu.cn/open-apis/bot/v2/hook/f44c17ad-06b0-4957-a5be-2b066fcef6ce

notify-failure:
    stage: notify
    needs:
        - job: deploy-react18-webpack-job
          optional: false
    rules:
        - when: on_failure
    script:
        - >
            curl -X POST -H "Content-Type: application/json"
            -d '{"msg_type":"text","content":{"text":"Web APP 部署失败"}}'
            https://open.feishu.cn/open-apis/bot/v2/hook/f44c17ad-06b0-4957-a5be-2b066fcef6ce

test: cicd
  .gitlab-ci-common.yml
  .gitlab-ci.yml
  packages/main/.gitignore
  packages/main/.gitlab-ci.yml
  packages/main/Dockerfile
  packages/main/default.conf
  packages/main/nginx.conf
  packages/main/public/index.html
  packages/main/src/App.js
  packages/main/src/index.js
  packages/react18-webpack/.gitlab-ci.yml
  packages/react18-webpack/README.md
  packages/react18-webpack/scripts/translate.js
  packages/react18-webpack/src/pages/Dashboard/index.tsx
  packages/vue3/.gitlab-ci.yml
  tree.md
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

fix: sub app port on production
  packages/main/src/index.js
Due: install-job

fix: fetch subapp with cors error
  packages/react18-webpack/default.conf
  packages/vue3/default.conf
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

fix: micro-frontend error
  packages/config/src/index.ts
  packages/react18-webpack/config/webpack.base.js
  packages/react18-webpack/config/webpack.dev.js
  packages/react18-webpack/config/webpack.prod.js
  packages/react18-webpack/src/error-page.tsx
  packages/react18-webpack/src/http/axios.ts
  packages/react18-webpack/src/index.tsx
  packages/react18-webpack/src/pages/ReactDemo/pro-table/index.tsx
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

feat: use-query optimistic update of delete
  packages/react18-webpack/src/pages/ReactDemo/pro-table/hook.tsx
  packages/react18-webpack/src/pages/ReactDemo/pro-table/index.tsx
  packages/react18-webpack/src/pages/ReactDemo/pro-table/type.ts
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

feat: 增删改使用乐观更新的方式
  packages/react18-webpack/package.json
  packages/react18-webpack/src/pages/ReactDemo/pro-table/hook.tsx
  packages/react18-webpack/src/pages/ReactDemo/pro-table/index.tsx
  packages/react18-webpack/src/pages/ReactDemo/pro-table/type.ts
  pnpm-lock.yaml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

feat: 更新容器启动策略
  .gitlab-ci-common.yml
Due: none

wip: cicd
  .gitlab-ci-common.yml
  .gitlab-ci.yml
  .prettierignore
  README.md
  gitlab-cicd.md
  package.json
  packages/react18-webpack/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: cicd
  .gitlab-ci-common.yml
  packages/main/.gitlab-ci.yml
  packages/react18-webpack/.gitlab-ci.yml
  packages/vue3/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: 动态引入子的gitlab-ci脚本
  .gitlab-ci.yml
  packages/main/.gitlab-ci.yml
  packages/vue3/.gitlab-ci.yml
Due: install-job

debug: 测试下单个package变动
  package.json
  packages/react18-webpack/src/main.tsx
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: 变量输出
  .gitlab-ci.yml
Due: none

debug: 变量输出
  .gitlab-ci-common.yml
  .gitlab-ci.yml
Due: none

debug: notify job
  .gitlab-ci-common.yml
  packages/react18-webpack/src/main.tsx
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: 更新脚本
  .gitlab-ci.yml
  packages/react18-webpack/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: 更新脚本
  .gitlab-ci-common.yml
  packages/react18-webpack/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: 更新脚本
  packages/react18-webpack/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: merge-request
  .gitlab-ci.yml
  packages/react18-webpack/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: merge-request
  packages/react18-webpack/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

feat: debug concurrent
  .gitlab-ci-common.yml
  .gitlab-ci.yml
  packages/main/.gitlab-ci.yml
  packages/main/src/index.js
  packages/react18-webpack/.gitlab-ci.yml
  packages/react18-webpack/src/main.tsx
  packages/vue3/.gitlab-ci.yml
  packages/vue3/src/main.ts
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: parent-child pipeline
  .gitlab-ci-common.yml
  .gitlab-ci.yml
  README.md
  packages/main/src/index.js
  packages/react18-webpack/src/main.tsx
  packages/vue3/src/main.ts
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: parent-child pipeline
  .gitlab-ci.yml
Due: none

debug: eslint/build 脚本并行
  .gitlab-ci-common.yml
Due: none

feat: 允许notify的job失败
  .gitlab-ci-common.yml
Due: none

debug: 动态子流水线
  .gitlab-ci.yml
  gitlab-cicd.md
  packages/main/src/index.js
  packages/react18-webpack/src/main.tsx
  packages/vue3/src/main.ts
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: 动态子流水线2
  .gitlab-ci-common.yml
  packages/vue3/src/main.ts
Due: install-job

debug: 动态子流水线3
  .gitlab-ci.yml
  packages/react18-webpack/src/main.tsx
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: 动态子流水线4
  .gitlab-ci-common.yml
  packages/react18-webpack/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: 动态子流水线5
  packages/main/.gitlab-ci.yml
  packages/react18-webpack/.gitlab-ci.yml
  packages/vue3/.gitlab-ci.yml
Due: install-job, build-react18-webpack-job, build-react18-webpack-image-job

debug: 动态子流水线6
  .gitlab-ci-common.yml
  .gitlab-ci.yml
Due: none

debug: 动态子流水线6
  .gitlab-ci.yml
Due: none
